/* Body Style */

body {
  margin: 0px;
}

/* Title Style */

h3 {
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 300%;
  letter-spacing: 0.05em;
  margin: 0;
}

.head4 {
  margin-top: -50px;
  text-align: center;
  color: rgb(158, 158, 158);
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  padding-top: 50px;
}

.head4-2 {
  display: none;
}

.head4-3 {
  text-align: center;
  margin-top: 0;
  color: rgb(158, 158, 158);
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  padding-top: 50px;
}

.w-head {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  margin: 0;
}

h5 {
  margin: 0 auto;
  margin-top: -20px;
  margin-bottom: 20px;
  width: 75%;
  text-align: center;
  color: rgb(158, 158, 158);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.w-h5 {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 20px;
}


.p1 {
  margin: 0 auto;
  padding: 50px 0;
  width: 85%;
  color: rgb(158, 158, 158);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.p2 {
  margin: 0 auto;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.sub-title {
  color: white;
  text-align: center;
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
  letter-spacing: 0.05em;
  margin: 0 auto;
  padding-top: 30px;
}

.arrow {
  display: block;
  margin: auto;
  padding-top: 110px;
  padding-bottom: 20px;
}

/* Navigation Style */

.wrapper-1 {
  display: flex;
  flex-direction: column-reverse;
}

nav {
  display: flex;
  min-height: 20px;
  margin: 0 auto;
  width: 100%;
  /*position: fixed;*/
  /*border-bottom: 3px solid #fff;*/
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  background-color: rgb(22, 123, 193);
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

nav a {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  color: #fff;
  opacity: 0.7;
}

nav a:hover {
  color: #fff;
  opacity: 1.0;
}

nav a.active {
  color: #fff;
  cursor: default;
}

/* Div styles */

#main {
  width: auto;
  margin: 0;
  padding-top: 40px;
  background-color: rgb(22, 123, 193);
  border-bottom: 1px solid rgb(255, 255, 255);
}

#about {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

#skills {
  width: auto;
  margin: 0;
}

#work {
  color: white;
  height: 500px;
  width: 100%;
  margin: 0;
  padding-top: 40px;
  background-color: rgb(158, 158, 158);
}

#contact {
  color: white;
  width: auto;
  margin: 0;
  margin-top: 30px;
  padding-top: 40px;
  background-color: rgb(158, 158, 158);
}

/* Image Styles */

.lang {
  width: 100px;
  height: 100px;
  padding: 20px 50px;
}

.imgcontain {
  text-align: center;
  padding: 30px;
  float: left;
}

.imgicon {
  width: 50px;
  height: 70px;
  margin: 10px;
}

.pic-1 {
  width: 100%;
}

/* Contact Styles */

.social {
  margin: 40px;
  width: 50px;
  height: 50px;
}

.flex1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



/*Skills Styles */

.task {
  display: flex;
}

/*Graph Bars*/

.bar {
  margin: 0 auto;
  width: 90%;
}

.bar2 {
	height:30px;
	background:#cccccc;
	color:#f4f4f4;
	text-align:center;
	width:100%;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}

.level {
	height:30px;
	background:#cccccc;
  width:inherit%;
}

/*Animations */

.fourtyfive.start {
	width: 0px;
	background: rgb(22, 123, 193);
	-webkit-animation: fourtyfive 4s ease-out forwards;
	   -moz-animation: fourtyfive 4s ease-out forwards;
	    -ms-animation: fourtyfive 4s ease-out forwards;
	     -o-animation: fourtyfive 4s ease-out forwards;
	        animation: fourtyfive 4s ease-out forwards;
}

.thirtyfive.start {
	width: 0px;
	background: rgb(22, 123, 193);
	-webkit-animation: thirtyfive 4s ease-out forwards;
	   -moz-animation: thirtyfive 4s ease-out forwards;
	    -ms-animation: thirtyfive 4s ease-out forwards;
	     -o-animation: thirtyfive 4s ease-out forwards;
	        animation: thirtyfive 4s ease-out forwards;
}

.fifteen.start {
	width: 0px;
	background: rgb(22, 123, 193);
	-webkit-animation: fifteen 4s ease-out forwards;
	   -moz-animation: fifteen 4s ease-out forwards;
	    -ms-animation: fifteen 4s ease-out forwards;
	     -o-animation: fifteen 4s ease-out forwards;
	        animation: fifteen 4s ease-out forwards;
}

.twentyfive.start {
	width: 0px;
	background: rgb(22, 123, 193);
	-webkit-animation: twentyfive 4s ease-out forwards;
	   -moz-animation: twentyfive 4s ease-out forwards;
	    -ms-animation: twentyfive 4s ease-out forwards;
	     -o-animation: twentyfive 4s ease-out forwards;
	        animation: twentyfive 4s ease-out forwards;
}

@-moz-keyframes fourtyfive {
    0% {
        width: 0px;
    }

    100% {
        width: 45%;
    }
}

@-webkit-keyframes fourtyfive {
	0% {
	    width: 0px;
	}

	100% {
	    width: 45%;
	}
}

@-moz-keyframes thirtyfive {
    0% {
        width: 0px;
    }

    100% {
        width: 35%;
    }
}

@-webkit-keyframes thirtyfive {
	0% {
	    width: 0px;
	}

	100% {
	    width: 35%;
	}
}

@-moz-keyframes fifteen {
    0% {
        width: 0px;
    }

    100% {
        width: 15%;
    }
}

@-webkit-keyframes fifteen {
	0% {
	    width: 0px;
	}

	100% {
	    width: 15%;
	}
}

@-moz-keyframes fifteen {
    0% {
        width: 0px;
    }

    100% {
        width: 25%;
    }
}


@-webkit-keyframes twentyfive {
	0% {
	    width: 0px;
	}

	100% {
	    width: 25%;
	}
}

@media (min-width: 550px) {
  .wrapper-1 {
    flex-direction: column;
  }

  h3 {
    font-size: 400%;
  }

  nav ul {
    flex-direction: row;
    justify-content: center;
    border-bottom: 2px solid rgb(255, 255, 255);
    position: fixed;
  }

  nav li {
    border-bottom: none;
  }

  nav a {
    margin: 0 25px;
  }

}

@media (min-width: 850px) {

  h3 {
    font-size: 500%;
  }

  #about {
    background-image: url("../images/self1.jpg");
    background-size: cover;
  }

  .pic-1 {
    display: none;
  }

  .p1 {
    width: 90%;
    margin-left: 30px;
  }

  .bar {
    width: 75%;
  }

  .head4 {
    display: none;
    /*text-align: center;
    margin-top: 0;
    color: rgb(158, 158, 158);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;*/
  }

  .head4-2 {
    display: block;;
    margin: auto 0;
    text-align: center;
    margin-top: 0;
    color: rgb(158, 158, 158);
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    padding-top: 50px;
  }

  .about-contain{
    margin-top: -50px;
    width:60%;
    background-color: rgba(255, 255, 255, .80);
  }
}

}
